/* Add application styles & imports to this file! */

.switch {
  display: block;
  background-color:#f2f2f3;
}

fieldset {
  padding-top:20px;
}

fieldset > div {
  background-color:rgb(225, 228, 225);
  display: inline-block;
  width:100%;
}

.grayback {
  background: rgb(241, 241, 241);
  margin: 3px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}