<div fxLayout="column" fxLayoutAlign="center center">
  <app-orderheader></app-orderheader>
  <div fxLayout="row" id="mainPane" fxFlex="50">
    <app-lavorazioni [lavorazioni]="lavlist"
                     [titolo]="'LAVORAZIONI'"></app-lavorazioni>
    <app-lavorazioni-act></app-lavorazioni-act>
    <app-lavorazioni [lavorazioni]="lavlist"
                     [titolo]="'MATERIALI'"></app-lavorazioni>
  </div>
  <!--
  <mat-card fxFlex="50">
	<div fxLayout="column">
		<div fxFlex="30" class="action-blurb">This is a blurb.</div>
		<div fxFlex="60" class="action-blurb" fxFlexOffset="5">This is a blurb.</div>
		<div fxFlex="30" class="action-blurb" fxFlexOffset="5">This is a blurb.</div>
	</div>
</mat-card>
-->
</div>