<div fxLayout="column" class="button-column" fxLayoutGap="9px">
  <app-click-button
  [label]="'Manca'"
  [reference]="{}"
  [section]="'materiali'"
  [prodOrder]="{}"
  [action]="'manca'"
  [color]="'accent'"
  ></app-click-button>
    <app-click-button
  [label]="'Sostituisci'"
  [reference]="{}"
  [section]="'materiali'"
  [prodOrder]="{}"
  [action]="'sostituisci'"
  [color]="'primary'"
  ></app-click-button>  <app-click-button
  [label]="'Avviso'"
  [reference]="{}"
  [section]="'materiali'"
  [prodOrder]="{}"
  [action]="'avviso'"
  [color]="'primary'"
  ></app-click-button>

</div>