<div fxLayout="row" class="noscroll" style="overflow-x: auto; ">
  <ng-container *ngFor="let ord of orders; index as i;" 
    
  >
    <mat-card  fxFill inViewport
     [inViewportOptions]="{ partial: true, threshold: [0, 1] }"
      (inViewportAction)="onIntersection($event)"
      id="{{ i }}"
    >
 <!--
     inViewport [inViewportOptions]="{ partial: true, threshold: [0, 1] }"
 (inViewportAction)="highlightTile($event)"

   -->
    {{ ord.nrpo }}
    <h4>{{ ord.prd_Descr }}</h4>
    <section><p id="fake">iniziale</p></section>
    </mat-card>
</ng-container>
</div>
